.connections {
    background-color: white;
    border: 1px solid black;
    position: relative;
    display: block;
    top: 50px;
    left: 50px;
    height: 200px;
    width: 400px;
}
.far {
    position: relative;
    float: left;
    color: #0055E8;
    top: 5%;
    left: 10%;
}