.music {
    position: relative;
    float: right;
    clear: both;
    height: 100px;
    width: 300px;
    right: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.controls {
    position: relative;
    display: block;
    width: 75%;
    margin: auto;
    top: 70%;
    text-align: center;
}
.fas {
    position: relative;
    display: inline;
    left: 10px;
    font-size: 16pt;
    letter-spacing: 20px;
    color: #0041B0;
}